.navbar-container
{
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 27);
    border-bottom: 1px solid rgb(50, 50, 50);
    justify-content: space-between;
    z-index: 10;
}